.active {
	background-color :green;
	
}

.total{
    border-top: 1px solid rgba(255,255,255,0.5);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}
	
}

ul li .nonactive {
	background-color : grey;
	
}

ul li {
	list-style : none;
    padding: 20px 30px;
    background-color: #777;
    margin-bottom: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    border-radius: 4px;
}




body {
	background-color : #61a1bc;
	margin-left : 25%;
	margin-right : 25%;
	
}

h2{
    color: #fff;
    font-size: 50px;
    font-family: 'Century gothic', cursive;
	text-align : center;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}


	
