<!DOCTYPE html>
<html ng-app="ConvertisseurApp">
<head>
<title>Convertisseur</title>
<meta charset="UTF8" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		
		<script src="app/ConvertisseurApp.js"> </script>
		<script src="app/ConvertisseurController.js"></script>	
		<script src="app/ConvertisseurService.js"></script>	
</meta>
</head>

<body ng-controller="ConvertisseurController as convCtrl">

<input type="text" name="what" ng-model="convCtrl.what">

<select ng-options="v.code+' - '+v.name for (k,v) in convCtrl.currencies" ng-model="convCtrl.from"></select>
<button ng-click="convCtrl.swap()"> <==> </button>
<select ng-options="v.code+' - '+v.name for (k,v) in convCtrl.currencies" ng-model="convCtrl.to">

</select>

<button name="convert" ng-click="convCtrl.getResult()">Convertir</button>
<input type="text" name="taux" value="{{convCtrl.result}}" disabled>

<input type="checkbox" name="historique" ng-model="isChecked"> Historique <br/>

<table class="table table-striped" ng-show="isChecked">
	<tr>
	<th> De </th>
	<th> En </th>
	<th> Tx </th>
	<th> Montant </th>
	<th> Date </th>
	<th> Delta </th>
	<th colspan="2"></th>
	</tr>
	
	<tr ng-repeat="(k,v) in convCtrl.historique" ng-class="{danger: v.delta < 0 , success: v.delta > 0 }">
	<td>{{v.from.code}}</td>
	<td>{{v.to.code}}</td>
	<td>{{v.rate}}</td>
	<td>{{v.amount()}}</td>
	<td>{{v.date}}</td>
	<td>{{v.delta()}}</td>
	<td><button class="btn btn-info" data-ng-click="convCtrl.getResult()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button></td>
	<td><button class="btn btn-danger" data-ng-click="convCtrl.delete(k)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></td>
	</tr>
	
	</table>

</body>

</html> 