<h1>Projets</h1>
<div>
<h2>{{projectCtrl.project.name}}</h1>
<p>{{projectCtrl.project.descriptif}}</p>
<table>
	<thead>
	<th>Stories</th>
	<th>Tasks</th>
	<th>Done ?</th>
	<th>Developper</th>
	</thead>
	
	<tbody ng-repeat="story in projectCtrl.daoService.getProjectStories(projectCtrl.params._id)">
		<td>{{story.code}} {{story.descriptif}}</td>
		<td>{{story.tasks.length}}</td>
		<td>{{story.tasks.closed}}</td>
		
		<td><div class="ui selection dropdown">
  							<input type="hidden" name="dev">
							<i class="dropdown icon"></i>
							<div class="text">{{story.developer.identity || "Select dev..."}}</div>
  							<div class="menu">
  								<div class="item" ng-class="story.developer._id.$oid ? '' : 'active selected'" ng-click="projectCtrl.removeDev(story)">Select dev...</div>
    							<div class="item" ng-repeat="dev in projectCtrl.devs" data-value="{{$index}}" ng-class="dev._id.$oid == story.developer._id.$oid ? 'active selected' : ''" ng-click="projectCtrl.setDev(dev,story)">{{dev.identity}}</div>
  							</div>
						</div>
		</td>
	</tbody>
</table>

</div>
