<!DOCTYPE html>
<html lang="en" ng-app="NoteApp">
<head>
<title>Note </title>
<meta charset="UTF8" >
		<title> First AngularJS </title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src="app/noteApp.js"> </script>
		<script src="app/noteController.js"></script>		
</head>

	<body ng-controller="NoteController as noteCtrl">
		<textarea ng-change="noteCtrl.count()" ng-model="noteCtrl.messageNote"></textarea><br/>
		<button> Enregistrer </button>
		<button ng-click="noteCtrl.clear()"> Effacer </button>
		<div>
			<p> Nombres de caractères restants : {{noteCtrl.count()}}</p>
		</div>
		<div ng-model="noteCtrl.status">
			<p>Note {{noteCtrl.status}}</p>
		</div>
	</body>
</html> 