<!DOCTYPE html>
<html lang="en" ng-app="NoteApp">
<head>
<title>Note </title>
<meta charset="UTF8" >
		<title> First AngularJS </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
		
		<script src="app/noteApp.js"> </script>
		<script src="app/noteController.js"></script>		
</head>

	<body ng-controller="NoteController as noteCtrl">
	<div ng-view="" class="toggle ng-scope" style="">
	<div class="panel panel-primary">
	<div class="panel-heading">Ex 1 : Note Application</div>
		<textarea ng-change="noteCtrl.modifie()" ng-model="noteCtrl.messageNote" rows="10" cols="300" maxlength=100></textarea><br/><br/>
		<button ng-click="noteCtrl.save()"> Enregistrer </button>
		<button ng-click="noteCtrl.clear()"> Effacer </button> <br/><br/>
		<div ng-class="{'alert-info' : noteCtrl.count() <= 100,'alert-warning' : noteCtrl.count() < 20, 'alert-danger' : noteCtrl.count() < 10 }">
			<p> Nombres de caractères restants : {{noteCtrl.count()}}</p>
		</div></br>
		<div ng-class="{'alert-success' : noteCtrl.info == 'Note sauvegardée', 'alert-info' : noteCtrl.info == 'Note modifiée' }" ng-show="noteCtrl.status == 5" ng-model="noteCtrl.info">
			<p>{{noteCtrl.info}}</p>
		</div><br/>
	</div>	
	</div>
	</body>
</html> 